﻿.prompt
        {
            padding: 5px;
            margin-bottom: 5px;
            background-color: #FCF8E3;
            border: 1px solid #FBEED5;
            border-radius: 4px 4px 4px 4px;
            color: #C09853;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        }
        .prompt img
        {
            vertical-align: middle;
            padding-right: 5px;
        }
        .prompt input
        {
            vertical-align: middle;
            border: 1px solid #cccccc;
            margin-right: 5px;
            height: 25px;
        }
        #sss
        {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -100px 0px 0px -10px;
        }
        #progressbar
        {
            background-color: #5EB95E;
            background-image: -moz-linear-gradient(center top , #62C462, #57A957);
            background-repeat: repeat-x;
            width: 0%;
            height: 28px;
        }
        .progress
        {
            background-color: #F7F7F7;
            background-image: -moz-linear-gradient(center top , #F5F5F5, #F9F9F9);
            background-repeat: repeat-x;
            border-radius: 4px 4px 4px 4px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
            height: 28px;
            overflow: hidden;
        }